/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #242b33;
  color: #fff;
  font-size: 16px;
}

a {
  color: #fff;
  transition: color 0.2s ease-in;
}
a:hover {
  color: #d4c17f;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
}
.container--sm {
  max-width: 824px;
}

.text-right {
  text-align: right;
}

.visually-hidden {
  height: 1px;
  overflow: hidden;
  width: 1px;
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  white-space: nowrap;
}

.header-,
.benefits-,
.apartments-,
.cta-,
.video-,
.section-map-,
.feedback-,
.footer- {
  display: none !important;
}

.title-2 {
  font-size: 36px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: #d4c17f;
}
@media screen and (max-width: 959px) {
  .title-2 {
    font-size: 28px;
  }
}

.no-scroll {
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0 74px;
  min-height: 840px;
  background: linear-gradient(180deg, #242b33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242b33 92.19%), url(./../img/header/header-bg.jpg), lightgray 50%/cover no-repeat;
}
@media screen and (max-width: 959px) {
  .header {
    min-height: unset;
    row-gap: 50px;
  }
}

.header__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__top-row--mobile {
  position: fixed;
  z-index: 9;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #242b33;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 60px;
  padding: 40px 0;
}
.header__top-row--mobile .header__nav {
  display: block;
}
.header__top-row--mobile .nav__list {
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
.header__top-row--mobile .header__nav-btn {
  position: fixed;
  top: 50px;
  right: 15px;
}

@media screen and (max-width: 959px) {
  .header__nav {
    display: none;
  }
}

.header__nav-btn {
  display: none;
}
@media screen and (max-width: 959px) {
  .header__nav-btn {
    display: block;
  }
}

.header__title {
  position: relative;
  text-align: center;
  font-size: 48px;
  font-family: "Playfair Display", serif;
  color: #d4c17f;
  font-weight: 700;
  padding-bottom: 121px;
}
@media screen and (max-width: 959px) {
  .header__title {
    font-size: 32px;
    padding-bottom: 100px;
  }
}

.header__title-icon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.header__bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  -moz-column-gap: 98px;
       column-gap: 98px;
}
@media screen and (max-width: 959px) {
  .header__bottom {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}

.nav {
  font-size: 14px;
  letter-spacing: 0.7px;
}

.nav__list {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.nav-icon-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 1px;
  --line-margin: 2;
  --color: #fff;
  height: var(--height);
  width: var(--width);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.nav-icon::before {
  top: calc(var(--line-height) * -8);
}

.nav-icon::after {
  top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  transform: rotate(-45deg);
}

.info {
  position: relative;
  font-size: 18px;
  color: #fff;
}
.info--map, .info--tel {
  padding-left: 35px;
}
.info--map::before, .info--tel::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
  background-position: center;
}
.info--map::before {
  background-image: url(./../img/header/map.svg);
}
.info--tel::before {
  background-image: url(./../img/header/phone.svg);
}
@media screen and (max-width: 959px) {
  .info {
    font-size: 16px;
  }
  .info--map, .info--tel {
    padding-left: 30px;
  }
}

.benefits {
  overflow: hidden;
  position: relative;
  padding: 120px 0;
}
.benefits::after {
  content: "II";
  bottom: 0;
  left: calc(50% + 550px);
  transform: translate(-50%, 0%);
  position: absolute;
  z-index: -1;
  line-height: 1;
  opacity: 0.02;
  font-size: 400px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  color: #fff;
}
@media screen and (max-width: 959px) {
  .benefits {
    padding: 70px 0;
  }
}

.benefits__row {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 70px;
       column-gap: 70px;
}
@media screen and (max-width: 959px) {
  .benefits__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 50px 30px;
  }
}

.benefits__item {
  text-align: center;
}

.benefits__item-img {
  margin-bottom: 53px;
}
@media screen and (max-width: 959px) {
  .benefits__item-img {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
  }
}

.benefits__item-text {
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.35; /* 135% */
}
@media screen and (max-width: 959px) {
  .benefits__item-text {
    font-size: 16px;
  }
}

.apartments {
  position: relative;
}
.apartments::before {
  content: "III";
  top: 0;
  left: 0;
  transform: translate(20%, 0%);
  position: absolute;
  z-index: -1;
  line-height: 1;
  opacity: 0.02;
  font-size: 400px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  color: #fff;
}
@media screen and (max-width: 959px) {
  .apartments {
    overflow: hidden;
  }
}

.apartments__title {
  margin-bottom: 88px;
}
@media screen and (max-width: 959px) {
  .apartments__title {
    margin-bottom: 44px;
  }
}

.apartments__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
@media screen and (max-width: 959px) {
  .apartments__cards {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}

.card {
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.card::before {
  content: "";
  position: absolute;
  z-index: 6;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(38, 36, 51, 0) 0%, #242b33 100%);
}
.card::after {
  opacity: 0;
  content: "";
  position: absolute;
  z-index: 7;
  left: 15px;
  top: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px double rgba(255, 255, 255, 0.4);
  transition: opacity 0.2s ease-in;
}
.card:hover {
  color: #fff;
}
.card:hover::after {
  opacity: 1;
}

.card__img {
  position: relative;
  z-index: 5;
  transition: all 0.2s ease-in;
}

.card:hover .card__img {
  transform: scale(1.1);
  filter: contrast(110%) brightness(1.2) saturate(1.2);
}

.card__title {
  position: absolute;
  z-index: 9;
  left: 50px;
  bottom: 44px;
  font-size: 24px;
}
@media screen and (max-width: 959px) {
  .card__title {
    font-size: 20px;
    left: 30px;
    bottom: 30px;
  }
}

.cta {
  padding: 180px 0;
  background: linear-gradient(180deg, #242b33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242b33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9) 0%, rgba(36, 43, 51, 0.9) 100%), url("./../img/cta/cta-bg.jpg"), #c4c4c4;
}
@media screen and (max-width: 959px) {
  .cta {
    padding: 60px 0;
    text-align: center;
  }
}

.cta__form {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 35px 30px;
}
@media screen and (max-width: 959px) {
  .cta__form {
    grid-template-columns: 1fr;
  }
}

.cta__title {
  margin-bottom: 17px;
}

.cta__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
@media screen and (max-width: 959px) {
  .cta__wrapper {
    grid-template-columns: 1fr;
  }
}

.cta__text {
  max-width: 540px;
  line-height: 1.5; /* 150% */
}
.cta__text p + p {
  margin-top: 1em;
}
@media screen and (max-width: 959px) {
  .cta__text {
    max-width: 390px;
    font-size: 14px;
    margin: 0 auto;
  }
}

.form {
  align-items: center;
}
@media screen and (max-width: 959px) {
  .form {
    justify-items: center;
  }
}

.form__input {
  width: 255px;
  height: 50px;
  color: #fff;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  font-size: 14px;
  line-height: 1.93;
  transition: bacground-color 0.2s ease-in;
}
.form__input::-moz-placeholder {
  color: #bebebe;
  line-height: 1.93; /* 192.857% */
}
.form__input::placeholder {
  color: #bebebe;
  line-height: 1.93; /* 192.857% */
}
.form__input:focus {
  background: rgba(255, 255, 255, 0.25);
}

.form__privacy {
  width: 255px;
  color: #e7e7e7;
  text-align: center;
  font-size: 13px;
  line-height: 1.23; /* 123.077% */
}
@media screen and (max-width: 959px) {
  .form__privacy--cta {
    order: 1;
  }
}

.form__btn {
  width: 255px;
  height: 50px;
  padding: 11px 54px;
  background-color: rgba(212, 193, 127, 0.7);
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  transition: bacground-color 0.2s ease-in;
}
.form__btn:hover {
  background-color: rgba(229, 202, 110, 0.7);
}

.video {
  overflow: hidden;
  position: relative;
  text-align: center;
}
.video::after {
  content: "IV";
  top: 50%;
  left: calc(50% + 550px);
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: -1;
  line-height: 1;
  opacity: 0.02;
  font-size: 400px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  color: #fff;
}

.video__link {
  position: relative;
  display: inline-block;
  text-align: center;
}
.video__link::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(36, 43, 51, 0.8);
  transition: bacground-color 0.2s ease-in;
}
.video__link:hover::before {
  background: rgba(36, 43, 51, 0.7);
}

.video__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in;
}
@media screen and (max-width: 959px) {
  .video__icon {
    width: 80px;
    height: 80px;
  }
}

.video__link:hover .video__icon {
  transform: translate(-50%, -50%) scale(1.2);
  filter: saturate(1.5);
}

.section-map {
  position: relative;
  padding: 180px 0;
}
.section-map::after {
  content: "V";
  z-index: -1;
  top: 45%;
  right: calc(50% + 550px);
  transform: translate(50%, -50%);
  position: absolute;
  z-index: -1;
  line-height: 1;
  opacity: 0.02;
  font-size: 400px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  color: #fff;
}
@media screen and (max-width: 959px) {
  .section-map {
    padding: 90px 0;
  }
}

.map__title {
  margin-bottom: 88px;
}
@media screen and (max-width: 959px) {
  .map__title {
    margin-bottom: 44px;
  }
}

.map {
  max-width: 1110px;
  height: 358px;
  background: #626262;
}

.feedback {
  padding: 0 0 180px;
}
@media screen and (max-width: 959px) {
  .feedback {
    padding: 0 0 90px;
    text-align: center;
  }
}

.feedback__title {
  margin-bottom: 38px;
}
@media (max-width: 1100px) {
  .feedback__title {
    text-align: center;
  }
}

.feedback__form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  align-items: center;
}
@media (max-width: 1100px) {
  .feedback__form {
    grid-template-columns: repeat(2, 2fr);
    justify-items: center;
  }
}
@media screen and (max-width: 959px) {
  .feedback__form {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1100px) {
  .form__privacy--feedback {
    order: 1;
  }
}
@media screen and (max-width: 959px) {
  .form__privacy--feedback {
    order: 1;
  }
}

.footer {
  padding: 72px 0 51px;
  background-color: #2d343c;
}
@media screen and (max-width: 959px) {
  .footer {
    padding: 36px 0 26px;
  }
}

.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
@media screen and (max-width: 959px) {
  .footer__wrapper {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 50px;
  }
}

.footer__logo {
  margin-top: -12px;
}

.footer__nav .nav__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__contacts-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 14px;
  letter-spacing: 0.7px;
}

.footer__email {
  font-weight: 700;
  color: #d4c17f;
  transition: contrast 0.2s ease-in;
}
.footer__email:hover {
  filter: contrast(1.2);
}

.footer__socials {
  display: flex;
  gap: 21px;
  align-items: center;
  transition: opacity 0.2s ease-in;
}
.footer__socials a:hover {
  opacity: 0.8;
}/*# sourceMappingURL=main.css.map */