.apartments {
  position: relative;

  &::before {
    content: "III";
    opacity: 0.02;
    position: absolute;
    top: 0;
    left: 0;
    // left: calc(50% + 550px);
    transform: translate(20%, 0%);
    line-height: 1;

    font-size: 400px;
    font-weight: 700;
    font-family: $font-accent;
    color: $white;
  }
}
.apartments__title {
  margin-bottom: 88px;
}

.apartments__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  //   grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 30px;
}
