.feedback {
  padding: 0 0 180px;

  @media (max-width: 1140px) {
    padding: 0 0 120px;
    text-align: center;
  }

  @include mediaTablet {
    padding: 0 0 90px;
    text-align: center;
  }
}

.feedback__title {
  margin-bottom: 38px;

  @media (max-width: 1140px) {
    text-align: center;
  }
}

.feedback__form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-items: center;
  // align-items: center;

  @media (max-width: 1140px) {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    // grid-template-columns: repeat(2, 2fr);
  }

  @include mediaTablet {
    grid-template-columns: 1fr;
  }
}

.form__privacy--feedback {
  @media (max-width: 1140px) {
    order: 1;
  }

  @include mediaTablet {
    order: 1;
  }
}
