.feedback {
  padding: 0 0 180px;

  @include mediaTablet {
    padding: 0 0 90px;
    text-align: center;
  }
}

.feedback__title {
  margin-bottom: 38px;

  @media (max-width: 1100px) {
    text-align: center;
  }
}

.feedback__form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  align-items: center;

  @media (max-width: 1100px) {
    grid-template-columns: repeat(2, 2fr);
    justify-items: center;
  }

  @include mediaTablet {
    grid-template-columns: 1fr;
    // margin: 0 auto;
  }
}

.form__privacy--feedback {
  @media (max-width: 1100px) {
    order: 1;
  }

  @include mediaTablet {
    order: 1;
  }
}
