.section-map {
  position: relative;
  padding: 180px 0;

  &::after {
    content: "V";
    z-index: -1;
    top: 45%;
    right: calc(50% + 550px);
    transform: translate(50%, -50%);

    @include decorNumber;
  }
}

.map__title {
  margin-bottom: 88px;
}

.map {
  max-width: 1110px;

  height: 358px;
  background: #626262;
}
