$font-main: "Raleway", sans-serif;
$font-accent: "Playfair Display", serif;
$font-secondary: "Roboto", sans-serif;

$dark: #242b33;
$accent: #d4c17f;
$white: #fff;
$footer-bg: #2d343c;
$placeholder: #bebebe;
$privacy: #e7e7e7;

$tablet: 959px;
